%h1 New Car
=simple_form_for @car do|f|
  =f.input :brand
  =f.input :model
  =f.input :year
  =f.input :notes
  =f.input :price
  =f.input :owner
  =f.input :phone
  =f.input :city
  =f.input :asset, as: :file
  =f.button :submit
